* {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      /* for adjusting the screen width, use width propert down below */
      .container {
        background: #FFFFFF;
        margin: 0 auto;
        width: 100%;
        padding: 15px;
      }
      .inner-container {
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
      }
      table {
        border-collapse: separate;
        border-spacing: 0 15px;
        width: 100%;
      }
      .header-section {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .details-table {
        border-bottom: 1px solid #E9E9E9;
      }
      .details-table tr:nth-child(1) td {
        font-size: 18px;
        font-weight: 600;
      }
      .details-table tr:nth-child(2) {
        color: #00000880;
        font-size: 14px;
        font-weight: 500;
      }
      .header {
        font-size: 31px;
        font-weight: 700;
        color: #F47E16;
      }
      .table1  {
        border-bottom: 1px solid #E9E9E9;
      }
      .table1 tr td {
        color: #00000880;
        font-size: 14px;
        font-weight: 400;
      }
      .table1 tr td span {
        font-size: 14px;
        font-weight: 400;
        color: #454545;
      }
      .table2 tr td {
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 20px;
      }
      .table2 tr td:nth-child(1) {
        font-size: 14px;
        font-weight: 400;
        color: #454545;
      }
      .table2 tr td:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
      }
